- set_meta_tags  title: ''
- set_meta_tags  description: ''

- set_meta_tags noindex: true

.tops-wrapper
  h2.headline
     | 約款
  .infobox
        h3
         |第1条 （約款の適用）
        |　株式会社セールスプロ（以下、「乙」といいます。）は、有料職業紹介の斡旋における約款（以下、「基本約款」といいます。）を定め、基本約款を遵守することを条件として、利用契約を締結していて頂いたお客様（以下、「甲」といいます。）に対して、有料職業紹介サービス（以下、「本サービス」といいます。）を提供します。
        br/
        |２． 基本約款は、乙が別途サービスの種類毎に定める個別の約款（以下、「個別約款」といいます。）とあわせて適用されます。
        br/
        |３． 基本約款と個別約款の内容が異なる場合は、個別約款が優先して適用されるものとします。
        h3
         |第２条（業務）
        |　甲は乙に、甲の人材採用に関する紹介業務を依頼し、乙はこれを受託する。乙は甲の人材採用計画を的確に把握した上で、乙が探索した人材を選抜・紹介し、採用にいたらしめるまでの活動を支援する。
        h3
         |第３条（報酬）
        |　甲は、乙が紹介し、甲が採用した者（以下「被採用者」という）１名ごとに、当該被採用者の理論年収に対する人材紹介手数料として乙に支払うものとする。尚、人材紹介手数料は申し込みフォームの選択に基づくものとする。
        br/
        |２． 上記「理論年収」は、次の算式により計算する。
        br/
        |　理論年収＝（基本給＋職務手当＋その他固定的に毎月支給される手当（但し、交通費は除く）＋同職務同年齢者の月平均超過勤務手当）×１２＋（同職務同年齢者の前年実績賞与支給額）
        br/
        |なお、被採用者の給与が年俸制の場合は、入社初年度１年間の年俸額を理論年収とする。但し、年俸が「固定報酬＋成果報酬」で決定される場合は、（固定報酬＋期待する業績を達成した場合の成果報酬）より導いた年俸額を理論年収とする。
        br/
        |３． 被採用者が自己都合により入社後１ヶ月未満に甲を退職した場合、乙は退社時期に応じて、受領した人材紹介手数料を、下記の表に従い甲に返還するものとする。
        br/
        |入社から1ヶ月未満：50%
        br/
        |なお、被採用者が自己都合以外の理由で退職した場合（名目は自己都合であるが、本人の責に帰さない事由で退職した場合、整理解雇を含む会社都合退職または本人の死亡等を含むが、これらに限られない）は、上記の報酬返還は適用されない。
        h3
         |第４条（支払）
        |甲は第２条に定める報酬を、被採用者の入社月の翌月１０日までに、乙の指定する銀行口座に振り込むことにより支払う。なお、振込手数料は甲の負担とする。
        h3
         |第５条（オーナーシップ）
        |乙が選考・選抜した人材を、甲が乙の合意なく直接接触し採用を決定して入社せしめた場合も、本契約に該当、また違反したものとし、理論年収の50%を請求する。
        br/
        h3
         |第６条（労働条件の明示）
        |甲は、前条の紹介を依頼するに当たり、その依頼する求人に係る労働条件（職業安定法第５条の３第２項に定める事項を乙にメール又はURLにより明示し、求人の申込みをする。
        h3
         |第７条（求人申込後の労働条件の変更等）
        |甲が、乙に対して前条により明示した労働条件の内容を、甲による面接実施前に変更、特定、削除、追加（以下「変更等」という。）することとなった場合は速やかにメールにより乙に通知するものとする。
        br/
        |前条により明示した労働条件の内容の変更時期が、甲が乙による紹介を受けた人材（以下「丙」という。）と面接等の接触をした後であった場合は、甲は、職業安定法第５条の３第３項に従い、変更等の内容を書面の交付等の方法により直接、丙に明示するものとする。
        br/
        |前項の場合、甲は、乙に対しても、速やかに変更等の内容をメール等により明示するものとする。
        h3
         |第８条（甲における記録の保管）
        |甲は、第６条により明示した従事すべき業務の内容等労働条件に関する記録を当該職業紹介が終了する日まで保管するものとする。
        h3
         |第９条（採用の決定と通知） 
        |甲は、乙から紹介された人材の採用を決定した場合、乙に対し、直ちに当該採用決定者の労働条件（賃金、労働時間、採用職種、勤務開始日など甲と採用決定者が締結する雇用契約書に記載された条件を含むが、それに限られない）および採用決定の事実をメールにより通知しなければならない。
        h3 
         |第１０条（違約金）
        |甲は、乙の紹介以外の方法で採用が満了した場合、遅滞なく甲にメールにて報告するものとする。報告がなく、甲が人材紹介のための業務を継続していることが発覚した場合、甲は乙に対して理論年収の50%を支払うものとする。
        br/
        |２． 甲は、採用条件の変更が発生した場合、遅滞なく甲にメールにて報告するものとする。報告がなく、甲が人材紹介のための業務を継続していることが発覚した場合、甲は乙に対して理論年収の50%を支払うものとする。
        h3
         |第１１条（機密保持）
        |乙は、甲より人材紹介業務の依頼があった事実のほか、第５条に基づき受領した情報を、機密として保持し、甲の事前の同意なく第三者（乙が候補者として甲に紹介する者を除く）に開示してはならない。但し、以下の情報は、かかる機密保持義務の対象外とする。
        br/
        |甲から開示を受ける前に既に乙で保有し、または乙が第三者から秘密保持の義務を負うことなく入手していた情報
        br/
        |甲から開示を受ける前に既に公知または公用となっていた情報
        br/
        |甲から開示を受けた後に乙の責によらず公知となった情報
        br/
        |甲から開示を受けた後に、正当な権限を有する第三者から、秘密保持の義務を負うことなく乙が入手した情報
        br/
        |裁判所や行政機関からの命令により乙が開示を求められた情報
        h3
         |第１２条（個人情報）
        |甲は、乙から知り得た、乙が紹介した候補者に関する一切の個人情報について、厳重に管理するものとし、当該情報を第三者に開示または漏洩してはならず、また、甲の採用目的以外に使用してはならない。また、甲は、採用しないと決めた候補者の個人情報を、複製物を含め、直ちに乙に返還又は乙の求めに応じ廃棄しなければならない。
        h3
         |第１３条（反社会的勢力の排除）
        |甲及び乙は、自らが暴力団その他の反社会的勢力ではなく、また、これら反社会的勢力と一切関係をもたないことを確約する。
        br/
        |甲及び乙は、次の各号のいずれかに該当するときは、その名称を問わず、当事者間で締結した如何なる契約をも解除することができる。
        br/
        |相手方又は相手方の役員若しくは従業員が、暴力団員、暴力団関係者その他の反社会的勢力であることが判明したとき
        br/
        |相手方の取引先又はその役員若しくは従業員が、暴力団員、暴力団関係者その他の反社会的勢力であることが判明し、善処を求めたのにも関わらず関係改善がされなかったとき
        br/
        |相手方が自ら又は第三者を利用して、他方当事者に対し、詐術、暴力的行為、脅迫的言辞又は業務妨害行為などの行為をしたとき
        br/
        |本条に基づき契約解除があった場合、解除された側は解除した側に対し、解除した側が解除により被った損害を賠償しなければならないものとする。また、解除した側は、解除された側に損害が生じたとしても、これによる一切の損害賠償責任を負わず、また違約金・解約金等の支払い義務も負わないものとする。
        h3
         |第１４条（契約期間）
        |本契約の有効期間は、契約締結日より１年間とする。但し、期間満了の１ヶ月前までに甲、乙いずれからも文書による異議申し立てのないときは、本契約は１年間同条件で更新するものとする。また、以後も同様とする。
        h3
        |第１５条（契約の解除）
        br/
        |甲または乙は、相手方が次の各号の１つに該当したときは、催告なしに直ちに、本契約の全部または一部を解除することが出来る。
        br/
        |本契約に違反し、相当の期間を定めて相手方に対して、その是正を求めたにもかかわらず、相手方がその違反を是正しないとき
        br/
        |相手方の信用、名誉または相互の信頼関係を傷つける行為をしたとき
        br/
        |破産手続開始、民事再生手続開始、会社更生手続開始、その他倒産手続開始の申立があったとき
        br/
        |差押え、仮差押え、仮処分、競売の申立、租税滞納処分その他これに準ずる手続があったとき
        br/
        |支払停止もしくは支払不能に陥ったとき、または、手形または小切手が不渡りとなり、手形交換所より銀行取引停止処分を受けたとき
        br/
        |合併、解散、清算、事業の全部もしくはその他重要な事業の一部を第三者へ譲歩し、またはしようとしたとき
        br/
        |その他前各号に類する事情が存するとき
        br/
        |２．前項に基づく解除は、相手方に対する損害賠償請求を妨げない。
        h3
         |第１６条（協議）
        |本契約に規定のない事項や、この契約条項の解釈につき疑義が生じたときは、甲乙協議のうえ解決する。
        h3
         |第１７条（裁判管轄）
        |第１５条によって解決できなかった場合の第一審の専属的管轄裁判所は、東京地方裁判所又は東京簡易裁判所とする。
        h3 
         |附則
        |（実施年月日）
        |この基本約款は２０２３年９月１日より制定・施行します。


.tops-wrapper
  h2.headline  お問い合わせフォーム
  =  form_for @contract, html: { multipart: true }, url: confirm_contracts_path(@contract) do |f|
    = render 'form', f: f, btn_name: "確認画面"
