- set_meta_tags  title: '東京・千葉・埼玉・神奈川の軽貨物配送サービス'
- set_meta_tags  description: '東京・千葉・埼玉・神奈川の軽貨物配送サービスを行っております。お仕事のご依頼はお任せください。'
/#トップ
.back-image-index.back-image-top
  .row
    .col-sm-6
       = image_tag "main-cargo.webp", class: "pc-image"
       = image_tag "main-cargo.webp", class: "mobile-image"
    .col-sm-6
        h1
         .index-3
          | 【1都3県・地方も相談OK】
          br
          | 潤沢な人材で軽貨物の配送
          br
         .red-title
          | 新規配送受付中
        p.push
         span
           | \ カンタン60秒入力! /
        =link_to '/contracts/new' do
         =image_tag 'click1.webp', width: '100%', class: 'center'
        
.row
   .col-sm-12.center
     h2.push
      span
       | 軽貨物ドライバー多数在籍
       br/
       br/
       | 御社の商品を丁寧にお届け
br/
br/

.row#anchor
   .col-sm-12.center
     h2.surprise
        | 当社が選ばれる理由

.top-wrapper
 br
 p.center 弊社では、軽貨物配送ドライバーが多数在籍しております。そのためスピーディーな人材対応により御社の商品を丁寧・安心・安全にお届けします。
 br/
 br/
 .center
     =image_tag 'takuhai.webp', width: '60%', class: 'center select-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"

.row#anchor
   .col-sm-12.center
     h2.surprise
        | こんなお悩みありませんか？
br/
.top-wrapper
 p.center 御社で配送におけるこんなお悩みはありませんか？
 br/
 br/
 .row.center
   .col-sm-12
     =image_tag 'd-worry.webp', class: 'center block-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"


hr.line
br
br
.row
   .col-sm-12.center
     h2.push
      span
       | お任せ下さい！御社のお荷物を
       br
       br
       | 目的地までお届けします
br/
br
hr.line
br
br

.row
  .col-sm-12.push
   span
     | \ カンタン60秒入力! /
   = link_to "#anchor" do
     =image_tag 'click1.webp', width: '70%', class: 'center'


hr.line
br
br


.row
   .col-sm-12.center
     h2.surprise
        | 24時間365日対応

.top-wrapper
 p.center 当社の配送サービスは多数人材を保有しているため、早朝から深夜まで24時間いつでも稼働しています。
 br

 br
 br/
 .row.center
   .col-sm-12
     =image_tag 'cargo1.webp', width: '60%', class: 'center select-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"




.row
   .col-sm-12.center
     h2.surprise
        | スピーディな人材確保

.top-wrapper
 br/
 p.center 軽貨物ドライバー数が非常に充実している当社では、お客様の台数追加のご要望にもスピーディにお答えすることができます。
 br

 br
 br/
 .row.center
   .col-sm-12
     =image_tag 'cargo2.webp', width: '60%', class: 'center select-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"

.row
   .col-sm-12.center
     h2.surprise
        | 安心・安全・丁寧な対応

.top-wrapper
 br/
 p.center 当社ドライバーは定期研修により、自社の課題をや法令を定期的に改善を行っています。一つ一つのお荷物を丁寧に対応いたします。
 br

 br
 br/
 .row.center
   .col-sm-12
     =image_tag 'cargo3.webp', width: '60%', class: 'center select-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"


br/
hr.line
br
br
br

.row
  .col-sm-12.push
   span
     | \ カンタン60秒入力! /
   = link_to "#anchor" do
     =image_tag 'click1.webp', width:"50%" , alt:"伊藤園の自販機の現地調査依頼ならこちらをクリック。簡単60秒で無料で伊藤園の設置条件を依頼出来ます。"

br
br

.row
   .col-sm-12.center
     h2.surprise
        | 1都3県対応！地方もご相談OK

.top-wrapper
 br/
 p.center 当社では潤沢な人材集客力を活かし、1都3県はもちろんながら、長期契約案件であれば、地方でも新規で人材対応を確保することが可能です。

 br
 br/
 .row.center
   .col-sm-12
     =image_tag 'japan.webp', width: '60%', class: 'center select-image',alt:"問い合わせから設置までスピーディーに済ませたい。自販機を設置したいが、各メーカーに問い合わせするのが手間だなと感じる。自販機の相見積もりを簡単に取得したい。過去に現地調査で落ちてしまって困っている。自販機を交換したいが、対応してくれる自販機メーカーを探して欲しい"



br/
hr.line
br
br
br

.row
  .col-sm-12.push
   span
     | \ カンタン60秒入力! /
   = link_to "#anchor" do
     =image_tag 'click1.webp', width: '70%', class: 'center', alt:"伊藤園の自販機の現地調査依頼ならこちらをクリック。簡単60秒で無料で伊藤園の設置条件を依頼出来ます。"



.row
  .col-sm-12.center
    h2.surprise
       | ご利用開始までのフロー
br/
.top-wrapper
 p.center 以下ではサービスをご利用いただくためのフローをご案内しております。
 br


ul.flow.center
  li
    dl
      dt
        h4.span.icon
          | STEP.01
        | 配送内容及び料金の決定
      dd.center
        | まずはお申し込みフォームよりご相談いただき、担当者と
        br/
        | 配送内容や料金・必要な人材数の決定を行います。
  li
    dl
      dt
        h4.span.icon
          | STEP.02
        | 契約後、人材の手配を開始
      dd.center
        | 契約締結を行なった後、契約日までに人材の確保に動きます。
        br/
        | 追加依頼もこの段階からお受け可能です。
  li
    dl
      dt
        h4.span.icon
          | STEP.03
        | 契約後、人材の手配を開始
      dd.center
        | 契約締結を行なった後、契約日までに人材の確保に動きます。
        br/
        | 追加依頼もこの段階からお受け可能です。

br
hr.line
br
br/
.row
  .col-sm-12.push
   span
     | \ カンタン60秒入力! /
   = link_to "#anchor" do
     =image_tag 'click1.webp', width: '70%', class: 'center'


.row.tops-wrapper
  h3.headline 会社概要
  table.company.responsive-table
   col.col-1
   col.col-2
   tr
    th.company-cell 会社名
    td.responsive-cell 株式会社セールスプロ
   tr
    th.company-cell 代表取締役
    td.responsive-cell 奥山健太
   tr
    th.company-cell メールアドレス
    td.responsive-cell info ＠ sale-s.pro
   tr
    th.company-cell 郵便番号
    td.responsive-cell 〒108-0014
   tr
    th.company-cell 住所
    td.responsive-cell 東京都港区芝5-27-3 MBC・A-9
   tr
    th.company-cell サイトURL
    td.responsive-cell 
     = link_to "https://sale-s.pro/cargo", "https://sale-s.pro/cargo"
   tr 
    th.company-cell 事業内容
    td.responsive-cell 
     | 有料職業紹介事業・軽貨物配送事業・警備事業